.navbar{
    font-size: 18px;
}

#jsform{
    margin-top: 7%;
}

.bg-img{
    filter:brightness(40%);
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    width: 100%;
    max-height: 800px;
    margin-bottom: 1rem;
    z-index: 0;

}

#totalPagar{
    position: relative;
    left: 0.5%;
    width: 101%;
}

#mail{
    width: 101%;
}

.text-background{
    position: absolute;
    color: white;
    font-size: 20px;
    width: 35%;
    text-align: right;
    margin-top: 16%;
    margin-left: 60%;
}

#comprar-tickets{
    background-color: green ;
    border-color: green;
}
.fourth-part{
    margin-bottom: 5%;
}
footer{
    height: 80px;
    margin-top: 1%;
    background: linear-gradient(90deg, rgb(28, 56, 70) 0%, rgb(29, 82, 113) 100%);
    text-align: center;
    padding-top: 20px;
}

.footerItem{
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-left: 2%;
    margin-right: 2%;
}
